1_ 시장 및 비즈니스 분석 방법론/1_Porters_Five_Forces_모델.pdf
1_ 시장 및 비즈니스 분석 방법론/2_가치사슬_분석_방법론.md
1_ 시장 및 비즈니스 분석 방법론/2_가치사슬_분석_방법론.pdf
1_ 시장 및 비즈니스 분석 방법론/4-1_임팩트_비즈니스형_문제정의_기법.pdf
1_ 시장 및 비즈니스 분석 방법론/5_TAM-SAM-SOM_과_Market_Segment_Map.pdf
1_ 시장 및 비즈니스 분석 방법론/6-1_페르소나와_페르소나_스펙트럼_고객_여정지도_작성_이론.pdf
2_핵심예제 분석자료/0-1_비즈니스_기획_초안_초보_창업가를_위한_3단계_종합_진단_온라인_컨설팅.pdf
2_핵심예제 분석자료/0-2_\[사업기획소개] 초보 창업가를 위한 3단계 종합 진단 온라인 컨설팅.html
2_핵심예제 분석자료/1_SaaS형_온라인_비즈니스_컨설팅_시장에_대한_포터의_5가지_힘_분석.pdf
2_핵심예제 분석자료/2_SaaS형_온라인_비즈니스_컨설팅_솔루션_주요기업_가치사슬_분석_및_통합_비교표.pdf
2_핵심예제 분석자료/3_SaaS형_온라인_컨설팅_신규_진입자_KSFs_Top_5.pdf
2_핵심예제 분석자료/4_SaaS형_온라인_비즈니스_컨설팅_문제정의서_초안_3종.pdf
1_ 시장 및 비즈니스 분석 방법론/7_시장기회_분석을_위한_OS-AOS-DOS_계산_방법과_매트릭스_시각화_방법.pdf
2_핵심예제 분석자료/5_SaaS형_온라인_비즈니스_컨설팅_TAM-SAM-SOM_핵심_원인_Market_Segment_분석_보고서.pdf
2_핵심예제 분석자료/6_SaaS_형_온라인_비즈니스_컨설팅_시장의_고객_페르소나_스펙트럼_고객_여정지도_(Gemini_분석_기반).pdf
2_핵심예제 분석자료/7_SaaS_온라인_비즈니스_컨설팅의_AOS-DOS_매트릭스_및_종합기회평가표.pdf
2_핵심예제 분석자료/8_SaaS형_온라인_비즈니스_컨설팅_JTBD_심층_인터뷰_종합_계획서.pdf
